html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; /* ei skrollia */
}
@media (max-width: 500px) {
  body {
    overflow-y: auto;
  }
}
a {
  text-decoration: none;
}

ul {
  list-style-type: none;
}
h1 {
  padding: 0;
  margin: 0;
}
p {
  padding: 0;
  margin: 0;
  font-size: 1em;
}
:root {
  --gunmetal: #01232fff;
  --prussian-blue: #022f46ff;
  --indigo-dye: #01506fff;
  --blue-green: #009fc7ff;
  --sky-blue: #5ed6eeff;
}
.main {
  width: 75%;
  margin: auto;
}
@media (max-width: 900px) {
  .main {
    width: 100%; /* halutaa täys leveys pienemmillä laitteilla */
  }

  button {
    border: none;
    border-radius: 6px;
  }
  #open_dialog {
    margin: 0 auto;
  }
}
.header {
  height: 90px;
  width: 100%;
  background-color: var(--sky-blue);
}
.shadow {
  box-shadow: 0 8px 6px -6px black;
  position: relative;
}
.logo {
  font-family: sans-serif;
  vertical-align: top;
  width: 150px;
  height: 100%;
  margin-left: 20px;
  margin-right: 20px;
  margin-top: 5px;
  color: rgb(225, 231, 235);
  float: left;
}
.headerbox {
  height: 90px;
  line-height: 120px; /*navigaatiotekstin liikutus*/
  margin-left: 15px;
  float: left;
  box-sizing: border-box;
}
.headerbox a {
  font-family: sans-serif;
  font-size: 16px;
  border-bottom: 1px solid var(--gunmetal);
}
a:visited {
  color: rgb(248, 249, 250);
}
a:hover {
  color: var(--prussian-blue);
}
a:active {
  color: rgb(0, 0, 0);
}

.content {
  height: 30vh;
  width: 100%;
  background-color: var(--blue-green);
}
.contentbox {
  width: 70%;
  height: 70%;
  margin: auto;
  text-align: center;
}

.about {
  height: 40vh;
  width: 100%;
  background-color: var(--indigo-dye);
  position: relative;
}
.absolutecrab {
  position: absolute;
  top: -30%;
  right: -2%;
  transform: rotate(180deg);
}
@media (max-width: 900px) {
  .absolutecrab {
    display: none; /* Hide the crab image on smaller screens */
  }
}
.imagebox {
  width: 30%;
  height: auto;
  margin-left: 20px;
  float: left;
  box-sizing: border-box;
  margin-top: 20px;
}

.terassi {
  border-radius: 15px;
  max-width: 300px;
  height: auto;
  object-fit: cover;
  display: block;
}
.textbox {
  width: 45%;
  height: 90%;
  margin-top: 20px;
  margin-right: 20px;
  float: right;
  box-sizing: border-box;
}

.emptybox {
  width: 100%;
  min-height: calc(100vh - 90px - 30vh - 40vh - 60px);
  background-color: var(--prussian-blue);
  margin: auto;
  clear: both;
}
.footer {
  height: 60px;
  width: 100%;
  background-color: var(--gunmetal);
  color: rgb(255, 255, 255);
  text-align: center;
  line-height: 50px; /*keskitetään teksti laatikoiden sisällä*/

  bottom: 0;
  left: 0;
  clear: both;
}
