html,
body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: hidden; /* Prevents scrollbars */
}
a {
  text-decoration: none;
}
p {
  padding: 0;
  margin: 0;
}
ul {
  list-style-type: none;
}
h1 {
  padding: 0;
  margin: 0;
}
.main {
  width: 75%;
  margin: auto;
  text-align: center;
}
.header {
  height: 90px;
  width: 100%;
  background-color: rgb(58, 156, 201);
}
.logo {
  font-family: sans-serif;
  vertical-align: top;
  width: 150px;
  height: 50px;
  margin-left: 40px;
  margin-right: 20px;
  margin-top: 5px;
  color: rgb(188, 216, 230);
  float: left;
}
.headerbox {
  height: 90px;
  line-height: 90px; /*keskitetään teksti laatikoiden sisällä*/
  margin-top: 10px;
  margin-left: 15px;
  float: left;
}
.headerbox a {
  font-family: sans-serif;
  font-size: 16px;
  padding-bottom: 5px;
  color: rgb(188, 216, 230);
  border-bottom: 1px solid #01182e;
}
.content {
  height: 30vh;
  width: 100%;
  background-color: rgba(22, 140, 231, 0.74);
}
.about {
  height: 45vh;
  width: 100%;
  background-color: rgb(6, 70, 119);
}
.footer {
  height: 60px;
  width: 100%;
  background-color: rgb(15, 15, 54);
  color: rgb(255, 255, 255);
  text-align: center;
  line-height: 50px; /*keskitetään teksti laatikoiden sisällä*/
  bottom: 0;
  left: 0;
}
